// head {
@__nodeId__: ~"ewma_dev_ui__main";
// }

.@{__nodeId__} {
    display: flex;
    flex-grow: 1;

    > .modules {
        min-width: 300px;
        overflow: auto;
    }

    > .nodes {
        overflow: auto;
    }

    > .node {
        flex-grow: 1;
    }
}
